// variables - Font Family

$fontFamilyStack  : "Trebuchet MS", Helvetica, sans-serif;



// variables - Font Sizes

$navFontSizeOne  : 35px;
$navFontSizeTwo  : 25px;
$mainFontSize    : 30px;
$footFontSizeOne : 12px;
$footFontSizeTwo : 15px;